/* [DEFAULT] For Chrome and Opera */
/* -ms- For Internet Edge and Explorer*/
/* -webkit- For Safari */
/* -moz- For Firefox */
/* -khtml- For Konqueror HTML */

body {
    background-color: aqua;
    color: #ffd200; /* Primary Yellow */
    color: #860037; /* Primary Red */
    color: #F8FAFB;
    color: #1C161B;
    color: #EEEBEA;
    color: #515151; /* Inactive Grey */
    color: #373737; /* Active Grey */
}

img {
    pointer-events: none;
}

.btn:focus,.btn:active {
    outline: none !important;
    box-shadow: none !important;
 }

.backgroundImageContainer {
    z-index: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 450px;
}

.backgroundImage {
    z-index: 0;
    position: absolute;
    object-fit: cover;
    display: flex;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.logoImage {
    z-index: 1;
    position: absolute;
    object-fit: cover;
    display: flex;
    width: 300px;
    right: 100px;
    filter: drop-shadow(2mm 4mm 3mm rgba(52, 52, 52, 0.65));
}

.titleText {
    position: absolute;
    z-index: 1;
    left: 100px;
    bottom: 100px;
    width: 520px;
    font-family: Futura, Trebuchet MS, Arial, sans-serif;
    color: #F8FAFB;
    font-size: 8rem;
    line-height: 3em;
    font-weight: 500;
    text-decoration: underline;
    text-decoration-thickness: 3px;
    text-underline-offset: 20px;
    filter: drop-shadow(2mm 4mm 3mm rgba(52, 52, 52, 0.65));
}

.homeJoinButton {
    position: absolute;
    z-index: 1;
    left: 265px;
    bottom: 100px;
    font-family: Futura, Trebuchet MS, Arial, sans-serif;
    font-size: 2rem !important;
    width: 200px;
    height: 60px;
    color: #860037 !important;
    background-color: #ffd200 !important;
    border: 1px solid #860037 !important;
    filter: drop-shadow(2mm 4mm 3mm rgba(52, 52, 52, 0.65));
}

.homeJoinButton:hover {
    background-color: #860037 !important;
    color: #ffd200 !important;
    border-color: #ffd200 !important;
}

@media screen and (max-width: 1025px) {
    .logoImage {
        width: 150px;
    }
    .titleText {
        left: 75px;
        bottom: 150px;
        width: 390px;
        font-size: 6rem;
    }
    .homeJoinButton {
        left: 225px;
        bottom: 115px;
        font-size: 1.5rem !important;
        width: 125px;
        height: 45px;
    }
}

@media screen and (max-width: 725px) and (min-height: 450px) {
    .logoImage {
        display: inline-block;
        right: auto;
        align-self: center;
        top: 120px;
        width: 125px;
    }
    .titleText {
        display: inline-block;
        position: relative;
        align-self: center;
        top: -170px;
        left: -10px;
    }
    .homeJoinButton {
        align-self: center;
        font-size: 1.5rem !important;
        left: auto;
        bottom: 145px !important;
    }
}

@media screen and (max-width: 500px) and (min-height: 450px) {
    .titleText {
        left: 65px;
        font-size: 4rem;
    }
    .homeJoinButton {
        left: auto;
        bottom: 75px;
    }
    .backgroundImageContainer {
        overflow: hidden;
    }
}

@media screen and (max-height: 450px) {
    .backgroundImageContainer {
        top: -75px;
    }
    .homeJoinButton {
        left: 150px;
        bottom: 150px;
    }
    .titleText {
        left: 50px;
    }
    .logoImage {
        align-self: center;
        right: 20px;
        bottom: 120px;
        width: 125px;
    }
}

@media screen and (max-height: 450px) and (max-width: 650px) {
    .homeJoinButton {
        left: 50px;
        bottom: 150px;
    }
}

@media screen and (min-width: 650px) and (max-height: 450px) {
    .logoImage {
        align-self: center;
        right: 50px;
        bottom: 170px;
    }
}

.arrow,
.arrow:before {
    position: absolute;
    left: 50%;
}

.arrow {
    width: 40px;
    height: 40px;
    top: 380px;
    margin: -20px 0 0 -20px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    border-left: none;
    border-top: none;
    border-right: 5px #860037 solid;
    border-bottom: 5px #860037 solid;
    cursor: pointer;
}
  
.arrow:before {
    content: '';
    width: 20px;
    height: 20px;
    top: 50%;
    margin: -10px 0 0 -10px;
    border-left: none;
    border-top: none;
    border-right: 2px #ffd200 solid;
    border-bottom: 2px #ffd200 solid;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-name: arrow;
}

@keyframes arrow {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: translate(-10px, -10px);
    }
    
}

@media screen and (max-height: 495px) {
    .arrow {
        top: 340px;
    }
    .arrowBackgroundCircle {
        top: 320px !important;
    }
    .homeJoinButton {
        bottom: 170px;
    }
} 

@media screen and (max-height: 415px) {
    .arrow {
        top: 83vh;
    }
    .arrowBackgroundCircle {
        top: 78vh !important;
    }
} 

.arrowBackgroundCircle {
    position: absolute;
    top: 360px;
    z-index: 0.5;
    height: 80px;
    width: 80px;
    background-color: rgba(81, 81, 81, 0.75);
    border-radius: 50%;
    cursor: pointer;
  }

  .select_disabled{
    user-select: none;
   -ms-user-select: none;
   -webkit-user-select: none;
   -moz-user-select: none;
   -khtml-user-select: none;
}