body
{
    background-color: aqua;
    color:#E9AF00;
    color:#450D21;
    color:#F8FAFB;
    color:#1C161B;
    color:#EEEBEA;
}
.nav-link{
    color:#450D21 !important;
    font-family: Trade Gothic LT Bold,Helvetica Neue,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 1rem;
    line-height: 3em;
    font-weight: 500;
}

.centered
{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}
.testcontainer{
    padding-left: 40px;
    padding-right: 40px;
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    max-width: auto;
    min-height: 340px;
    background-color: #F8FAFB;
}
.text-and-image-container{    
    padding: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    left: 6%; 
    right: 6%;
    position: absolute;
    justify-content: center;
    align-items: center;
    min-height: 200px;
}
.banner-pre-title{
    font-family: Trade Gothic LT Bold,Helvetica Neue,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
    font-weight: 700;
    color: #F8FAFB;
    text-transform: uppercase;
    font-size: 8rem;
    line-height: 3em;
    font-weight: 500;
}
.inl
{
    display: inline-block;
}
.main-button-mover
{
    position: relative;
    left: 40% !important;
    bottom: 20px !important;
    padding: .375rem 5rem !important;
    background-color: #E9AF00 !important;
    border-color: #E9AF00 !important;
}
.containers
{
    background-color:#915d6f31;
   /* background-color:#f8fafb25; */
    padding-top: 10px;
    padding-bottom: 10px;
    left: 0%; 
    right: 0%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 450px;
}
.background-container
{
    padding-top: 10px;
    padding-bottom: 10px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 450px;
}
.row .col-sm
{
 
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    align-items: center;
}
.mainimg{   
    position: absolute;
    object-fit: cover;
     display: flex;
    width: 100%;
    height: 100%;
    object-fit: cover;
    }
@media screen and (max-width: 1000px) {
    .main-button-mover
    {
        position: relative;
        left: 30% !important;
        bottom: 90px !important;
        padding: .375rem 4rem !important;
        background-color: #E9AF00 !important;
        border-color: #E9AF00 !important;
    }
}
@media screen and (min-width: 1040px) {
    .main-button-mover
    {
        position: relative;
        left: 30% !important;
        bottom: -180px !important;
        padding: .375rem 4rem !important;
        background-color: #E9AF00 !important;
        border-color: #E9AF00 !important;
    }
}
@media screen and (max-width: 1024px) {
    .main-button-mover
    {
        position: relative;
        left: 30% !important;
        padding: 1rem 6rem !important;
        background-color: #E9AF00 !important;
        border-color: #E9AF00 !important;
        font-size: 2rem !important;
    }
   
}
