body
{
    
    color:#E9AF00;
    color:#450D21;
    color:#F8FAFB;
    color:#1C161B;
    color:#EEEBEA;
}
.nav-link{
    color:#450D21 !important;
    font-family: Trade Gothic LT Bold,Helvetica Neue,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 1rem;
    line-height: 3em;
    font-weight: 500;
}
.background--container
{
    padding-top: 10px;
    padding-bottom: 10px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 450px;
}
.container--light{
    padding-left: 40px;
    padding-right: 40px;
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    max-width: auto;
    min-height: 340px;
    background-color: #F8FAFB;
}
.container--dark{
    padding-left: 40px;
    padding-right: 40px;
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    max-width: auto;
    min-height: 340px;
    background-color:#1C161B;
}
.container--footer{
    padding-left: 40px;
    padding-right: 40px;
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    max-width: auto;
    min-height: 340px;
    background-color: #F8FAFB;
}
.text-and-image-container{    
    padding: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    left: 6%; 
    right: 6%;
    position: absolute;
    justify-content: center;
    align-items: center;
    min-height: 200px;
}
.banner--title{
    font-family: Trade Gothic LT Bold,Helvetica Neue,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
    font-weight: 700;
    color: #F8FAFB;
    text-transform: uppercase;
    font-size: 8rem;
    line-height: 3em;
    font-weight: 500;
    display: inline-block;
}
.btn-banner
{
    position: relative;
    left: 40% !important;
    bottom: 20px !important;
    padding: .375rem 5rem !important;
    background-color: #E9AF00 !important;
    border-color: #E9AF00 !important;
}
.container--overlay
{
    background-color:#915d6f31;
   /* background-color:#f8fafb25; */
    padding-top: 10px;
    padding-bottom: 10px;
    left: 0%; 
    right: 0%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 450px;
}
.row .col-sm
{
 
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    align-items: center;
}
.background--image{   
    position: absolute;
    object-fit: cover;
     display: flex;
    width: 100%;
    height: 100%;
    object-fit: cover;
    }
@media screen and (max-width: 1000px) {
    .btn-banner
    {
        position: relative;
        left: 30% !important;
        bottom: 90px !important;
        padding: .375rem 4rem !important;
        background-color: #E9AF00 !important;
        border-color: #E9AF00 !important;
    }
}
@media screen and (min-width: 1040px) {
    .btn-banner
    {
        position: relative;
        left: 30% !important;
        bottom: -180px !important;
        padding: .375rem 4rem !important;
        background-color: #E9AF00 !important;
        border-color: #E9AF00 !important;
    }
}
@media screen and (max-width: 1024px) {
    .btn-banner
    {
        position: relative;
        left: 30% !important;
        padding: 1rem 6rem !important;
        background-color: #E9AF00 !important;
        border-color: #E9AF00 !important;
        font-size: 2rem !important;
    }
   
}



/* ---- grid ---- */

.grid {
  max-width: 1200px;
    margin: 0 auto;
}
/* clearfix */
.grid:after {
  content: '';
  display: block;
  clear: bo
  th;
}
/* ---- grid-colors ----*/

.gridColorRed { background: #450D21;}
.gridColorDark { background: #1C161B;}
.gridColorOffW {background: #EEEBEA;}
.gridColorWhite{ background: #F8FAFB;}
.gridColorYellow { background: #E9AF00;}

/* ---- text-colors ----*/

.textColorRed {color: #450D21;}
.textColorDark {color: #1C161B;}
.textColorOffW {color: #EEEBEA;}
.textColorWhite{color: #F8FAFB;}
.textColorYellow {color: #E9AF00;}

/* ---- grid-item ---- */

.grid-item {
  width: 320px;
  height: 100px;
  float: left;
  border-radius: 3px;
  margin: 1.5rem;
  filter: drop-shadow(2mm 4mm 3mm #3434344c); 
}
.grid-item--text{
  width: 320px;
  float: left;
  border-width: 1px !important;
  background:none;
  color: #1C161B;
  margin: 1.5rem;
  filter: drop-shadow(2mm 4mm 3mm #3434344c); 
  height: 4rem; /* ---- Make Dynamic to text size or have more text size options ---- */
}
.grid-image {
  width: 300px;
  height: 285px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: .5rem;
  border-radius: 3px;
  filter: drop-shadow(4mm 6mm 3mm #3434344c );
}
.grid-item--height2 { height: 175px; width: 320px;} /*half */
.grid-item--height3 { height: 200px; width: 320px;} /*2/3 */
.grid-item--height4 { height: 260px; margin-bottom:64px;} /*BUTTON */
.grid-item--height5 { height: 300px; width: 320px;} /* */
.grid-item--height6 { height: 400px; width: 320px;} /*Main */
.grid-item--height7 { height: 650px; width: 320px;} /* More */
.grid-item--height8 { height: 450px; width: 320px;}

.grid-item--width2 { width: 690px;}
.grid-image--height3 { height: 150px;  margin-top: -1rem; }
.grid-image--height2-3 { height: 200px;  margin-top: -6rem; }
.grid-image--height2-3Close { height: 200px;  margin-top: -1rem; }
.grid-image--height2 { height: 450px; width: 300px; margin-top: -15rem;}
.grid-image-holder{margin-top: 6rem;}
.grid-image-holder2{margin-top: 16rem;}
/*
175 orgin           1
200 2               2
260 button          3
300 3/not main      4
400 4/main          5

*/

.containsImage
{
  margin-top: 13.5rem !important;
}
.grid--button--left
{
  display: block !important;
  margin-top: 1.7rem !important;
  width: 10rem; height: 3rem;
  filter: drop-shadow(2mm 4mm 3mm #3434342c);
  margin-left: 1rem;
  font-size: 1rem !important;
}
.grid--button--inside
{
  display: block !important;
  width: 16rem; height: 3.5rem;
  filter: drop-shadow(2mm 4mm 3mm #3434342c);

  margin-top: 1rem;
  font-size: 1.5rem !important;
}
.btn-primary
{
  background-color:goldenrod !important;
  border-color:goldenrod !important;
}
.btn-secondary
{
  background-color:#450D21 !important;
  border-color:#450D21 !important;
}
.columns {
  column-count: 2;
}
p
{
    font-size: 1.15rem; 
   padding-left: .75rem;
   padding-right: .5rem;
}

h1
{
    font-family: Trade Gothic LT Bold,Helvetica Neue,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
    font-weight: 700;
    font-size: 8rem;
    line-height: 3em;
    font-weight: 500;
    display: inline-block;
   margin-left:auto;
   margin-right:auto;
    
}
h4
{
    padding-top: .5rem !important;
    padding-left: .5rem;
}
h3
{
    padding-left: .5rem;
    padding-top: .5rem;
    
}
/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
.dispears{ display: inline;
}
.dispears2{ display: inline;
}
@media screen and (max-width: 815px){
  .grid-item--width2 { width: 320px;  height: 690px;}
  .columns {
    column-count: 1;
  }
}
@media screen and (max-width: 800px){
    .dispears{ display: none ;
    }
  }
  @media screen and (max-width: 1185px){
    .dispears2{ display: none ;
    }
  }